
.clubstematics{
    text-align: center;
    margin-bottom: 10vh;
}

.clubs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}

.imgClub{
    max-width: 100%;
}

div.clubs div{
    margin: 0;
    text-align: left;
    padding: 0;
}

div.clubs div p:nth-of-type(1):before{
    content: '\2022 \2022 \2022 \2022';
    color: rgb(155, 23, 0);
    margin-right: 0.5rem;
}

div.clubs p{
    margin: 0;
    margin-top: 0.8vh;
}


@media screen and (max-width: 600px){

    .clubs{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 8vw;
    }
    
    .clubstematics{
        text-align: center;
    }

}