main.sessions section:nth-of-type(1) p{
    text-align: left;
    margin: 0 10vw 3vh;
}

main.sessions section:nth-of-type(2){
    margin-top: 5vh;
    border-top: 4px dotted rgb(155, 23, 0)
}


.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 9vh;
}

.cartells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 2vw;
    
}

.head {
    text-align: left;
    font-weight: bold;
    grid-column: 3 span;
}

.head::before{
    content: '\2022 \2022 \2022 \2022';
    color: rgb(155, 23, 0);
    margin-right: 0.5rem;
}

.cartells div{
    
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;
    margin-left: 0.5vw;
}

.cartells picture {
    background-color: rgb(255,255,255);
    margin: 0;
}

.cartells picture img{
    max-width: 100%;
    margin: 0;
}

.cartells picture img:hover{
    opacity: .5;
}

.cartells footer{
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: rgb(255,255,255);
}

.cartells footer p{
    margin: 0 0 0.5vh 0.5vw;
}

aside{
    margin:0;
    padding: 0;
    text-align: left;
}
aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li{
    line-height: 2.5vh;
}

aside a{
    color: rgb(28,28,28);
}

aside a:hover{
    color: rgba(28,28,28,.5);
}

@media screen and (max-width: 600px){

    main.sessions {
        text-align: left;
        margin: 0 3vw;
    }

    main.sessions section:nth-of-type(1) h1{
        text-align: center;
    }

    main.sessions section:nth-of-type(1) p{
        text-align: left;
        margin: 0 0 3vh;
    }

    main.sessions section:nth-of-type(2){
        border-top: 0;
    }

    .content{
        grid-template-columns: auto;
        grid-template-rows: 1fr;
    }

    .head {
        grid-column: 1;
        margin: 0;
        padding: 0;
    }

    .cartells{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);  
        gap: 2vw;     
    }

    .cartells div{
        text-align: center;
        padding: 0 10vw;
        margin-bottom: 3vh;
    }
    
}