@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Noto Serif', serif;
    margin: 0;
    background-color: rgb(232, 232, 232);
    color: rgb(28, 28, 28);
}

/* HEADER */

header, #footer, form, aside ul, .content h1, .head, .detall nav{
    font-family: 'Open Sans', sans-serif;
} 

a{
    text-decoration: none;
    color: rgb(155, 23, 0);
}

.container {
    margin: 2vh 2vw;
}

#logo{
    text-decoration: none;
    color:rgb(28, 28, 28);
}

nav a{
    font-weight: bold;
    color:rgb(28, 28, 28);
    text-decoration: none;
}

nav a:hover{
    color: rgba(28, 28, 28,0.5);
}

nav a:active{
    text-decoration: none;
}

nav a.active{
    font-style: italic;
    font-weight: bold;
}

#red{
    color: rgb(155, 23, 0);
    font-style: italic;
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.container div:nth-of-type(1) a{
    font-size: 1.8em;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav li{
    display: inline-flex;
}

header nav li:nth-of-type(1){
    margin-right: 2vw;
}

a.button{
    background-color: rgb(155, 23, 0);
	padding: 10px 25px;
	color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    width: auto;
}

a.button:hover, input[type="submit"]:hover{
    color: rgb(28, 28, 28);
}

main{
    text-align: center;
    margin: 5vh 20vw 2vh;
}


/* FOOTER */

#footer{
    background-color: rgb(67, 58, 68);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    padding-top: 4vh;
}

#footer div{
    margin: 0 2vw;
}

#footer div:nth-of-type(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

#footer nav{
    margin: 2vh 0;
}

#footer div:nth-of-type(1) nav ul{
    list-style: none;
    display: flex;
    margin:0;
}

#footer div:nth-of-type(1) nav li{
    display: inline-block;
    
}

#footer div:nth-of-type(1) li::after{
    content: '\2022';
    color:rgb(255, 255, 255);
    margin: 0 0.3vw;
}

#footer div:nth-of-type(1) nav li:last-child::after{
    content: '';
}

#footer div:nth-of-type(2) ul{
    list-style: none;
}


#footer a{
    color: rgb(255, 255, 255);
}

#footer a:hover{
   color: rgb(155, 23, 0);
}

#footer div:nth-of-type(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}


#footer div:nth-of-type(3){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2em;
    padding: 0;
    padding-bottom: 1vh;   
}

/* INDEX */

main.index section{
    margin-bottom: 5vh;
}

main.index section:nth-of-type(1) p{
    margin-right: 15vw;
    margin-left: 15vw;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-flow: row wrap;
}

.wrapper figure img{
    width: 8vw;
}

.wrapper figcaption{
    width: 15vh;
}

main.index section:nth-of-type(3) div.unio{
    
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-flow: row wrap;
    gap: 1vw;
}

main.index section:nth-of-type(3) div.unio div:nth-of-type(1){
    flex: 1;
}

main.index section:nth-of-type(3) div.unio div:nth-of-type(2){
    flex: 1;
}


form p{
    font-size: 0.7em;
}

input[type="text"],input[type="email"],input[type="password"]{
    width: 100%;
}

label{
    font-size: 0.9em;
}

input[type="submit"]{
    margin-top: 1vh;
}

input[type="submit"]{
    background-color: rgb(155, 23, 0);
	padding: 10px 25px;
	color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    width: auto;
}


/* SESSIONS */

main.sessions section:nth-of-type(1) p{
    text-align: left;
    margin: 0 10vw 3vh;
}

main.sessions section:nth-of-type(2){
    margin-top: 5vh;
    border-top: 4px dotted rgb(155, 23, 0)
}


.content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 9vh;
}

.cartells{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 2vw;
    
}

.head {
    text-align: left;
    font-weight: bold;
    grid-column: 3 span;
}

.head::before{
    content: '\2022 \2022 \2022 \2022';
    color: rgb(155, 23, 0);
    margin-right: 0.5rem;
}

aside{
    margin:0;
    padding: 0;
    text-align: left;
}
aside ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

aside li{
    line-height: 2.5vh;
}

aside a{
    color: rgb(28,28,28);
}

aside a:hover{
    color: rgba(28,28,28,.5);
}


/* IMATGES SESSIONS */
.cartells figure{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    margin-left: 0.5vw;
}

.cartells figure img{
    max-width: 100%;
}

.cartells figure img:hover, .cartells figcaption a:hover{
    opacity: .5;
}

.cartells figure figcaption{
    text-align: left;
    margin: 0 0 0.5vh 0.5vw;
}

.cartells figcaption a{
    font-weight: bold;
}

/* CLUBS TEMATICS */

.clubstematics{
    text-align: center;
    margin-bottom: 10vh;
}

.clubs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}

.clubs a:hover{
    opacity: .5;
}

.imgClub{
    max-width: 100%;
}

div.clubs div{
    margin: 0;
    text-align: left;
    padding: 0;
}

div.clubs div p:nth-of-type(1):before{
    content: '\2022 \2022 \2022 \2022';
    color: rgb(155, 23, 0);
    margin-right: 0.5rem;
}

div.clubs p{
    margin: 0;
    margin-top: 0.8vh;
}

/* DETALL SESSIÓ */

.detall{
    text-align: left;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: 1fr;
}

.detall nav{
    margin: 0;
    text-align: left;
}

.detall nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.detall nav li{
    display: inline-block;
}


.detall nav li:last-child{
    color: rgba(28,28,28,.5);
}

.detall h1 {
    text-align: left;
}

.article{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0 1vw;
    margin-bottom: 5vh;
}

.detall dt{
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.detall dd{
    margin-left: 1vw;
}

.article div:nth-of-type(2) p{
    text-align: justify;
}

.detall img{
    float: left;
    margin-right: 1.5vw;
    border-radius: 50%;
    shape-outside: circle();
}


iframe + p{
    margin: 0;
    padding: 0;
    font-style: italic;
}

iframe{
    width: 100%;
    height: 255px;
    border: 0px;
}


@media screen and (max-width: 600px){
    .container{
        flex-flow: column wrap;
    }

    .container div:nth-of-type(3){
       order:-1;
    }   

    .container div{
        margin-bottom: 3vh;
    }

    .container div:nth-of-type(2){
        margin-bottom: 0;
    }

    .container nav ul{
        flex-direction: column;
    }
    .container nav li:nth-of-type(1){
        margin-bottom: 2vh;
    }
    
    #footer div:nth-of-type(1){
        flex-direction: column;
    }

    #footer nav ul{
        flex-direction: column;
        text-align: center;
    }
    #footer nav{
        margin-bottom: 5vw;
    }

    #footer nav li{
        line-height: 1.5em;
        
    }
    
    #footer div:nth-of-type(1) li::after{
        content: '';
    }

    #footer div:nth-of-type(2){
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column wrap;
    }

    #footer div:nth-of-type(2) ul{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    #footer div:nth-of-type(2) li{
        flex-direction: column;
        
    }

    /* INDEX */

    main.index{
        margin: 0;
    }

    main.index section:nth-of-type(1) p{
        margin: 0 3vw;
    }
    main.index .wrapper{
        text-align: center;
        flex-flow: column wrap;
    }

    main.index .wrapper figure img{
        width: 30vw;
    }
    main.index .wrapper figcaption{
        font-size: 1rem;
        width: auto;
        padding: 0 5vh;
    }
    main.index section:nth-of-type(3) div.unio{
        display: flex;
        justify-content: space-between;
        text-align: left;
        flex-flow: column wrap;
        margin: 0 3vw;
    }

    /* SESSIONS */

    main.sessions {
        text-align: left;
        margin: 0 3vw;
    }

    main.sessions section:nth-of-type(1) h1{
        text-align: center;
    }

    main.sessions section:nth-of-type(1) p{
        text-align: left;
        margin: 0 0 3vh;
    }

    main.sessions section:nth-of-type(2){
        border-top: 0;
    }

    .content{
        grid-template-columns: auto;
        grid-template-rows: 1fr;
    }

    .head {
        grid-column: 1;
        margin: 0;
        padding: 0;
    }

    .cartells{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,auto);  
        gap: 2vw;     
    }

    .cartells figure{
        text-align: center;
        margin: 0 10vw;
        margin-bottom: 3vh;
    }
    

    /* CLUBS TEMATICS */

    .clubs{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 8vw;
    }
    
    .clubstematics{
        text-align: center;
    }


    /* DETALL SESSIÓ */

    .detall{
        margin: 1vh 2vh;
    }

    .detall nav{
        text-align: center;
    }

    .article{
        grid-template-columns: 1fr;
    }

}


